/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13.5px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/*
*   Layouts
*/
.content-block {
  max-width: 1024px;
  margin: 0 auto;
}

main > section {
  padding-top: 3.333rem;
}

main > section:last-child {
  padding-bottom: 3.333rem;
}

.main-header__top-bar {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.top-bar__content {
  height: 95px;
  line-height: 95px;
  border-bottom: 1px solid #7c7c7c;
}

.top-bar__logo {
  float: left;
}

.top-bar__logo-image {
  vertical-align: middle;
}

.top-bar__menu {
  float: right;
}

.menu__item {
  display: inline-block;
  margin-left: 35px;
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  outline: none;
}

.action-button {
  border-radius: 5px;
  text-transform: uppercase;
  height: 3em;
  padding: 0 1em;
}

.btn_white {
  background-color: #fff;
  border: 2px solid #71b6d5;
  color: #71b6d5;
  cursor: pointer;
}

.btn_blue {
  background: #71b6d5;
  border: none;
  color: #fff;
  cursor: pointer;
}

.pagination {
  display: inline-block;
  overflow: hidden;
}

.pagination__item {
  float: left;
  position: relative;
  cursor: pointer;
}

.pagination__item_clear-white {
  width: 7px;
  height: 7px;
  margin: 15px;
  background: #fff;
  border-radius: 50%;
}

.pagination__item_clear-white_active:after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: -11px;
  left: -11px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.banner-list {
  width: 100%;
}

.banner-list__list {
  overflow: hidden;
}

.banner-list__element {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}

.banner-list__text-title {
  margin-top: 230px;
  font-size: 3.5rem;
}

.banner-list__text-subtext {
  font-size: 1.85rem;
}

.banner-list__text-btn {
  display: inline-block;
  margin-top: 90px;
  font-size: 1.25rem;
}

.banner-list__pagination {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.main-header__banners {
  background: url(../images/banner1.jpg) no-repeat;
  background-size: cover;
  height: 41.48rem;
  position: relative;
}

.intro {
  padding: 85px 30px;
  text-align: center;
  font-size: 1.33rem;
  line-height: 150%;
}

/*
*   Themes
*/
.hr {
  position: relative;
  margin-top: 2.95rem;
  margin-bottom: 2.22rem;
  border-bottom: 1px solid #e1e1e1;
}

.hr__ico {
  position: absolute;
  top: -2.95rem;
  left: calc(50% - 2.95rem);
  display: inline-block;
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.hr__ico_checked {
  background-image: url("../images/checked.png");
}

.hr__ico_cup {
  background-image: url("../images/cup.png");
}

.hr__ico_bubble {
  background-image: url("../images/bubble.png");
}

.itemsList {
  overflow: hidden;
  width: 100%;
}

b {
  font-weight: bold;
}

h6.title {
  font-size: 1.5rem;
  color: #484848;
}

p.text {
  line-height: 150%;
}

.main-title {
  text-transform: uppercase;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 2.96rem;
  margin-bottom: 3.7rem;
}

.main-title_with-sub-text {
  margin-bottom: 1rem;
}

.main-title__sub-text {
  text-align: center;
  margin-bottom: 3.7rem;
}

main {
  color: #575757;
}

.main-header {
  color: #fff;
}

.main-header__top-bar nav a {
  color: #fff;
  font-size: 1.075rem;
  text-decoration: none;
}

.stikers__element {
  position: relative;
  display: inline-block;
  width: 320px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  text-align: center;
  margin-right: 2rem;
}

.stikers__element-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.stikers__element-text-container {
  padding: 1.85rem 4.44rem;
}

.stikers__element-title {
  margin-bottom: 15px;
}

.stikers__element-icon {
  position: absolute;
  top: -3.5rem;
  left: calc( 50% - 3.5rem);
  width: 7rem;
  height: 7rem;
  background: #71b6d5;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.75rem solid #fff;
  border-radius: 50%;
}

.stikers__element:last-child {
  margin-right: 0;
}

.stikers__element-icon_camera {
  background-image: url("../images/camera.png");
}

.stikers__element-icon_note {
  background-image: url("../images/note.png");
}

.stikers__element-icon_cart {
  background-image: url("../images/cart.png");
}

.feature-card {
  margin-top: 3.7rem;
}

.feature-card::after {
  content: '';
  display: block;
  clear: both;
}

.feature-card__image {
  float: left;
}

.feature-card__description {
  width: 65.43%;
  float: right;
}

.feature-card__title {
  margin: 1.11rem 0;
}

.feature-card__button {
  margin-top: 1.5rem;
}

.feature-card_right__image {
  float: right;
}

.feature-card_right__description {
  float: left;
}

.projects {
  width: 100%;
  overflow: hidden;
}

.projects .projects__item {
  float: left;
  margin-right: 1.48rem;
}

.projects .projects__item:last-child {
  margin-right: 0;
}

.projects .projects__item-image {
  width: 17.78rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.projects .projects__item-image img {
  height: 100%;
  float: left;
}

.projects .projects__item-image::after {
  cursor: pointer;
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
}

.projects .projects__item-image:hover::after {
  opacity: 1;
}

.projects .projects__item-name {
  font-size: 1.333rem;
  text-align: center;
  margin-top: 1.48rem;
}

.projects .projects__item-prop {
  text-align: center;
  line-height: 200%;
}

.testimonials {
  font-size: 1.333rem;
  padding: 0 1rem;
  text-align: center;
  overflow: hidden;
}

.testimonials__item {
  width: 100%;
  float: left;
}

.testimonials__item-text {
  margin-bottom: 2.22rem;
}

.testimonials__item-autor {
  display: inline-block;
  padding: 2.22rem 0;
  margin: 0 auto;
  background: url("../images/commentline.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.testimonials__pagination {
  display: inline-block;
  overflow: hidden;
}

.testimonials__pagination-item {
  margin-right: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  background: #e1e1e1;
  border-radius: 50%;
}

.testimonials__pagination-item_active {
  background-color: #71b6d5;
}

.top-footer {
  min-height: 350px;
  background: #273a43;
  padding: 4.44rem 0;
}

.top-footer:after {
  clear: both;
}

.top-footer__item {
  float: left;
  width: 210px;
  margin-right: 4.44rem;
}

.top-footer__item:last-child {
  margin-right: 0;
}

.top-footer__item-caption {
  margin-bottom: 2.22rem;
  text-transform: uppercase;
  font-size: 1.48rem;
  line-height: 200%;
  color: #fff;
}

.top-footer__item-text {
  color: #c3c3c3;
  margin-bottom: 0.9rem;
}

.top-footer__item .address, .top-footer__item .mail, .top-footer__item .phone, .top-footer__item .tweet {
  padding-left: 2.96rem;
  line-height: 250%;
  color: #fff;
  background-position: left center;
  background-repeat: no-repeat;
}

.top-footer__item .address {
  background-image: url("../images/address.png");
}

.top-footer__item .mail {
  background-image: url("../images/mail.png");
}

.top-footer__item .phone {
  background-image: url("../images/phone.png");
}

.top-footer__item .tweet {
  background-image: url("../images/tweet.png");
  background-position: left 10%;
  margin-bottom: 2.22rem;
}

.top-footer__item .tweet .text {
  margin-bottom: 0;
}

.top-footer__item .text.time {
  color: #71b6d5;
}

.subscribe-form {
  display: block;
}

.subscribe-form__control {
  height: 3rem;
  margin: 0;
  float: left;
  border: none;
  outline: none;
}

.subscribe-form__input {
  width: 80%;
  color: #fff;
  background: #172227;
  padding: 0 1rem;
  border-radius: 5px 0 0 5px;
}

.subscribe-form__button {
  width: 20%;
  margin: 0;
  border-radius: 0 5px 5px 0;
}

.bottomFooter {
  background: #172227;
  color: #fff;
}

.bottomFooter .contentBlock {
  height: 90px;
}

.bottomFooter .copy, .bottomFooter .social {
  line-height: 90px;
}

.bottomFooter .copy {
  display: inline-block;
  color: #c3c3c3;
}

.social {
  float: right;
}

.social__item {
  float: left;
  margin-left: 0.9rem;
}

.social__item-link {
  position: relative;
  top: 0.5rem;
  display: inline-block;
  width: 2.22rem;
  height: 2.22rem;
  background: #fff;
  border-radius: 50%;
}

.social__item-link_fb, .social__item-link_linked, .social__item-link_twitter {
  background-position: center;
  background-repeat: no-repeat;
}

.social__item-link_twitter {
  background-color: #71b6d5;
}

.social__item-link_fb, .social__item-link_linked {
  background-color: #2c3b42;
}

.social__item-link_twitter {
  background-image: url("../images/twitterwhite.png");
}

.social__item-link_fb {
  background-image: url("../images/fbwhite.png");
}

.social__item-link_linked {
  background-image: url("../images/linkedwhite.png");
}
