/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13.5px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/*
*   Layouts
*/
.contentBlock {
  width: 1024px;
  margin: 0 auto;
}

main > section {
  padding-top: 3.333rem;
}

main > section:last-child {
  padding-bottom: 3.333rem;
}

.headerTopBar {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.headerTopBar .contentBlock {
  height: 95px;
  line-height: 95px;
  border-bottom: 1px solid #7c7c7c;
}

.headerTopBar .logo {
  float: left;
}

.headerTopBar .logo img {
  vertical-align: middle;
}

.headerTopBar nav {
  float: right;
}

.headerTopBar nav li {
  display: inline-block;
  margin-left: 35px;
  margin-right: 5px;
}

.actionButton {
  border-radius: 5px;
  text-transform: uppercase;
  height: 3em;
  padding: 0 1em;
  cursor: pointer;
  outline: none;
}

.headerBanners {
  position: relative;
}

.headerBanners .bannerList, .headerBanners .bannerList li, .headerBanners .bannerContent {
  width: 100%;
}

.headerBanners ul {
  overflow: hidden;
}

.headerBanners li img {
  min-width: 100%;
}

.headerBanners .bannerContent {
  position: absolute;
  top: 95px;
}

.headerBanners .contentBlock {
  position: relative;
}

.headerBanners .text {
  width: 100%;
  text-align: center;
}

.headerBanners .text .bannerTitle {
  margin-top: 130px;
  font-size: 3.5rem;
}

.headerBanners .text .bannerSubText {
  font-size: 1.85rem;
}

.headerBanners .actionButton {
  display: inline-block;
  margin-top: 90px;
  font-size: 1.25rem;
}

.headerBanners .bannersPagination {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.headerBanners .bannersPagination li {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.headerBanners .bannersPagination li.active:after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: -11px;
  left: -11px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.intro {
  padding: 85px 30px;
  text-align: center;
  font-size: 1.33rem;
  line-height: 150%;
}

/*
*   Themes
*/
.blueBtn {
  background: #71b6d5;
  border: none;
  color: #fff;
  cursor: pointer;
}

.actionButton.whiteButton {
  background-color: #fff;
  border: 2px solid #71b6d5;
  color: #71b6d5;
  cursor: pointer;
}

.hr {
  position: relative;
  margin-top: 2.95rem;
  margin-bottom: 2.22rem;
  border-bottom: 1px solid #e1e1e1;
}

.hr .ico {
  position: absolute;
  top: -2.95rem;
  left: calc(50% - 2.95rem);
  display: inline-block;
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.itemsList {
  overflow: hidden;
  width: 100%;
}

b {
  font-weight: bold;
}

h6.title {
  font-size: 1.5rem;
  color: #484848;
}

p.text {
  line-height: 148%;
}

.sectionTitle {
  text-transform: uppercase;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 2.96rem;
  margin-bottom: 3.7rem;
}

.sectionTitle.withSubTitle {
  margin-bottom: 1rem;
}

.sectionSubTitle {
  text-align: center;
  margin-bottom: 3.7rem;
}

main {
  color: #575757;
}

.mainHeader {
  color: #fff;
}

.headerTopBar nav a {
  color: #fff;
  font-size: 1.075rem;
  text-decoration: none;
}

.stikers li {
  position: relative;
  display: inline-block;
  width: 320px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  text-align: center;
  margin-right: 2rem;
}

.stikers li img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.stikers li .stikerText {
  padding: 1.85rem 4.44rem;
}

.stikers li .stikerText .title {
  margin-bottom: 15px;
}

.stikers li .stikerIcon {
  position: absolute;
  top: -3.5rem;
  left: calc( 50% - 3.5rem);
  width: 7rem;
  height: 7rem;
  background: #71b6d5;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.75rem solid #fff;
  border-radius: 50%;
}

.stikers li:last-child {
  margin-right: 0;
}

.stikers li .cameraIcon {
  background-image: url("../images/camera.png");
}

.stikers li .noteIcon {
  background-image: url("../images/note.png");
}

.stikers li .cartIcon {
  background-image: url("../images/cart.png");
}

.checkedIco {
  background: url("../images/checked.png");
}

.cupIco {
  background-image: url("../images/cup.png");
}

.bubbleIco {
  background-image: url("../images/bubble.png");
}

.featureCard {
  margin-top: 3.7rem;
}

.featureCard::after {
  content: '';
  display: block;
  clear: both;
}

.featureCard .featureImage {
  float: left;
}

.featureCard .featureDescription {
  width: 65.43%;
  float: right;
}

.featureCard .featureDescription .title {
  margin: 1.11rem 0;
}

.featureCard .featureDescription button {
  margin-top: 1.5rem;
}

.featureCard.right .featureImage {
  float: right;
}

.featureCard.right .featureDescription {
  float: left;
}

.projectsList {
  width: 100%;
  overflow: hidden;
}

.projectsList li {
  float: left;
  margin-right: 1.48rem;
}

.projectsList li:last-child {
  margin-right: 0;
}

.projectsList li .image {
  width: 17.78rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.projectsList li .image img {
  height: 100%;
  float: left;
}

.projectsList li .image::after {
  cursor: pointer;
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
}

.projectsList li .image:hover::after {
  opacity: 1;
}

.projectsList li .projectName {
  font-size: 1.333rem;
  text-align: center;
  margin-top: 1.48rem;
}

.projectsList li .projectProp {
  text-align: center;
  line-height: 200%;
}

.testimonialsList {
  font-size: 1.333rem;
  padding: 0 1rem;
  text-align: center;
}

.testimonialsList li {
  width: 100%;
}

.testimonialsList .text {
  margin-bottom: 2.22rem;
}

.testimonialsList .autor {
  display: inline-block;
  padding: 2.22rem 0;
  margin: 0 auto;
  background: url("../images/commentline.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.testimonialsList .testiPages {
  display: inline-block;
  overflow: hidden;
}

.testimonialsList .testiPages li {
  float: left;
  margin-right: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  background: #e1e1e1;
  border-radius: 50%;
  cursor: pointer;
}

.testimonialsList .testiPages li.active {
  background-color: #71b6d5;
}

.topFooter {
  min-height: 350px;
  background: #273a43;
  padding: 4.44rem 0;
}

.topFooter:after {
  clear: both;
}

.topFooter .footerItem {
  float: left;
  width: 210px;
  margin-right: 4.44rem;
}

.topFooter .footerItem:last-child {
  margin-right: 0;
}

.topFooter .footerItem .caption {
  margin-bottom: 2.22rem;
  text-transform: uppercase;
  font-size: 1.48rem;
  line-height: 200%;
  color: #fff;
}

.topFooter .footerItem p.text {
  color: #c3c3c3;
  margin-bottom: 0.9rem;
}

.topFooter .footerItem .address, .topFooter .footerItem .mail, .topFooter .footerItem .phone, .topFooter .footerItem .tweet {
  padding-left: 2.96rem;
  line-height: 250%;
  color: #fff;
  background-position: left center;
  background-repeat: no-repeat;
}

.topFooter .footerItem .address {
  background-image: url("../images/address.png");
}

.topFooter .footerItem .mail {
  background-image: url("../images/mail.png");
}

.topFooter .footerItem .phone {
  background-image: url("../images/phone.png");
}

.topFooter .footerItem .tweet {
  background-image: url("../images/tweet.png");
  background-position: left 10%;
  margin-bottom: 2.22rem;
}

.topFooter .footerItem .tweet .text {
  margin-bottom: 0;
}

.topFooter .footerItem .text.time {
  color: #71b6d5;
}

.topFooter .footerItem .subscribeNewsFrm {
  display: block;
}

.topFooter .footerItem .subscribeNewsFrm input, .topFooter .footerItem .subscribeNewsFrm button {
  height: 3rem;
  margin: 0;
  float: left;
  border: none;
  outline: none;
}

.topFooter .footerItem .subscribeNewsFrm input {
  width: 80%;
  color: #fff;
  background: #172227;
  padding: 0 1rem;
  border-radius: 5px 0 0 5px;
}

.topFooter .footerItem .subscribeNewsFrm button {
  width: 20%;
  margin: 0;
  border-radius: 0 5px 5px 0;
}

.bottomFooter {
  height: 90px;
  background: #172227;
}
