doctype html
html
    head
        title Тестовая страница
        meta(charset="utf-8")
    body
        header.mainHeader
            section.headerTopBar
                div.contentBlock
                    a.logo(href="#")
                        img(src="images/webworld.png")
                    nav
                        ul
                            li 
                                a(href="#") Home
                            li
                                a(href="#") Portfolio
                            li
                                a(href="#") Contact
            section.headerBanners
                ul.bannerList
                    li
                        img(src="images/banner1.jpg").bannerImage
                        div.bannerContent
                            div.contentBlock
                                div.text
                                    div.bannerTitle Clean, flat &amp; polished design
                                    div.bannerSubText Proin facilisis aliquam nunc quis varius.
                                    button.actionButton.blueBtn Show more
                ul.bannersPagination
                    li
                    li
                    li
        main
            h1 asdasdas

        footer
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="css/style.css")