// variables
$contentWidth: 1024px;
$lightColor: #fff;
$lightGrey: #e1e1e1;
$darkColor: #575757;
$greyText : #c3c3c3;
$darkText: #484848;
$lightBlueColor: #71b6d5;
$darkBlueColor: #273a43;
$darkestBlueColor: #172227;

$topBannerHeight: 95px;

$general-fonts: 'Open Sans', Arial, Helvetica, sans-serif;

$stiker-icons: camera note cart;
$hr-icons: checked cup bubble;
$contacts-icons: address mail phone;
$social-white-icons: twitter fb linked;