// vendors
@import 'vendors/reset';

// variables
$contentWidth: 1024px;
$lightColor: #fff;
$lightGrey: #e1e1e1;
$darkColor: #575757;
$darkText: #484848;
$lightBlueColor: #71b6d5;

$topBannerHeight: 95px;

* {
    box-sizing: border-box;
}

html {
    font-size: 13.5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

/*
*   Layouts
*/

.contentBlock {
    width: $contentWidth;
    margin: 0 auto;
}

// header
.headerTopBar {
    position: absolute;
    width: 100%;
    z-index: 5;

    .contentBlock {
        height: $topBannerHeight;
        line-height: $topBannerHeight;
        border-bottom: 1px solid #7c7c7c;
    }
}

.headerTopBar .logo {
    float: left;
    img{
        vertical-align: middle;
    }
}

.headerTopBar nav {
    float: right;
    li {
        display: inline-block;
        margin-left: 35px;
        margin-right: 5px;
    }
}

.actionButton {
    border-radius: 5px;
    text-transform: uppercase;
    height: 3em;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
}

.headerBanners {
    position: relative; 
    .bannerList, .bannerList li, .bannerContent {
        width: 100%;
    }    
    ul {       
        overflow: hidden;
    }
    li img {
        min-width: 100%;
    }
    .bannerContent {
        position: absolute;
        top: $topBannerHeight;
    }
    .contentBlock {
        position: relative;
    }
    .text {
        width: 100%;
        text-align: center;
        .bannerTitle {
            margin-top: 130px;
            font-size: 3.5rem;
        }
        .bannerSubText{
            font-size: 1.85rem;
        }
    }

    .actionButton {
        display: inline-block;
        margin-top: 90px;
        font-size: 1.25rem;
    }
    .bannersPagination {
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 15px;
            background: $lightColor;
            border-radius: 50%; 
            &.active:after {
                content: '';
                position: absolute;
                display: block;
                width: 25px;
                height: 25px;
                top: -11px;
                left: -11px;
                border: 2px solid $lightColor;
                border-radius: 50%;
            }
        }
    }

}

.intro {
    padding: 85px 30px;
    text-align: center;
    font-size: 1.33rem;
    line-height: 150%;
}


/*
*   Themes
*/
.mainHeader {
    color: $lightColor;
}
.headerTopBar nav a {
    color: $lightColor;
    font-size: 1.075rem;
    text-decoration: none;
}

.actionButton.blueBtn{
    background: $lightBlueColor;
    border: none;
    color: $lightColor;
}
h6.title {
    font-size: 1.5rem;
    color: $darkText;
}
p.text {
    line-height: 140%;
}

main {
    color: $darkColor;
}

.stikers li {
    position: relative;
    display: inline-block;
    width: 320px;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    text-align: center;
    margin-right: 2rem;
    img{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .stikerText {
        padding: 1.85rem 4.44rem;
        .title {
            margin-bottom: 15px;
        }
    }
    .stikerIcon {
        position: absolute;
        top: -3.5rem;
        left: calc( 50% - 3.5rem);
        width: 7rem;
        height: 7rem;
        background: $lightBlueColor;
        background-repeat: no-repeat;
        background-position: center;
        border: 0.75rem solid #fff;
        border-radius: 50%;
    }
    &:last-child{
        margin-right: 0;
    }
    .cameraIcon{
        background-image: url('../images/camera.png');
    }
    .noteIcon{
        background-image: url('../images/note.png');
    }
    .cartIcon{
        background-image: url('../images/cart.png');
    }
}



