// vendors
@import 'vendors/reset';

// variables
$contentWidth: 1024px;
$lightColor: #fff;
$lightGrey: #e1e1e1;
$darkColor: #575757;
$greyText : #c3c3c3;
$darkText: #484848;
$lightBlueColor: #71b6d5;
$darkBlueColor: #273a43;
$darkestBlueColor: #172227;

$topBannerHeight: 95px;

* {
    box-sizing: border-box;
}

html {
    font-size: 13.5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

/*
*   Layouts
*/

.contentBlock {
    width: $contentWidth;
    margin: 0 auto;
}

main > section {
    padding-top: 3.333rem;
    &:last-child {
        padding-bottom: 3.333rem;
    }
}

// header
.headerTopBar {
    position: absolute;
    width: 100%;
    z-index: 5;

    .contentBlock {
        height: $topBannerHeight;
        line-height: $topBannerHeight;
        border-bottom: 1px solid #7c7c7c;
    }
}

.headerTopBar .logo {
    float: left;
    img{
        vertical-align: middle;
    }
}

.headerTopBar nav {
    float: right;
    li {
        display: inline-block;
        margin-left: 35px;
        margin-right: 5px;
    }
}

.actionButton {
    border-radius: 5px;
    text-transform: uppercase;
    height: 3em;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
}

.headerBanners {
    position: relative; 
    .bannerList, .bannerList li, .bannerContent {
        width: 100%;
    }    
    ul {       
        overflow: hidden;
    }
    li img {
        min-width: 100%;
    }
    .bannerContent {
        position: absolute;
        top: $topBannerHeight;
    }
    .contentBlock {
        position: relative;
    }
    .text {
        width: 100%;
        text-align: center;
        .bannerTitle {
            margin-top: 130px;
            font-size: 3.5rem;
        }
        .bannerSubText{
            font-size: 1.85rem;
        }
    }

    .actionButton {
        display: inline-block;
        margin-top: 90px;
        font-size: 1.25rem;
    }
    .bannersPagination {
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 15px;
            background: $lightColor;
            border-radius: 50%;
            cursor: pointer; 
            &.active:after {
                content: '';
                position: absolute;
                display: block;
                width: 25px;
                height: 25px;
                top: -11px;
                left: -11px;
                border: 2px solid $lightColor;
                border-radius: 50%;
            }
        }
    }

}

.intro {
    padding: 85px 30px;
    text-align: center;
    font-size: 1.33rem;
    line-height: 150%;
}


/*
*   Themes
*/
// general elements
.blueBtn{
    background: $lightBlueColor;
    border: none;
    color: $lightColor;
    cursor: pointer;
}

.actionButton.whiteButton {
    background-color: #fff;
    border: 2px solid $lightBlueColor;
    color: $lightBlueColor;
    cursor: pointer;
}

.hr {
    position: relative;
    margin-top: 2.95rem;
    margin-bottom: 2.22rem;
    border-bottom: 1px solid $lightGrey;
    .ico {
        position: absolute;
        top: - 2.95rem;
        left: calc(50% - 2.95rem);
        display: inline-block;
        width: 5.9rem;
        height: 5.9rem;
        // border: 1.8rem solid #fff;
        border-radius: 50%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.itemsList {
    overflow: hidden;
    width: 100%;
}
// text
b {
    font-weight: bold;
}
h6.title {
    font-size: 1.5rem;
    color: $darkText;
}
p.text {
    line-height: 148%;
}
.sectionTitle {
    text-transform: uppercase;
    font-size: 1.9rem;
    text-align: center;
    margin-top: 2.96rem;
    margin-bottom: 3.7rem;
    &.withSubTitle {
        margin-bottom: 1rem;
    }
}
.sectionSubTitle {
    text-align: center;
    margin-bottom: 3.7rem;
}

// local elements
main {
    color: $darkColor;
}

.mainHeader {
    color: $lightColor;
}
.headerTopBar nav a {
    color: $lightColor;
    font-size: 1.075rem;
    text-decoration: none;
}

.stikers li {
    position: relative;
    display: inline-block;
    width: 320px;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    text-align: center;
    margin-right: 2rem;
    img{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .stikerText {
        padding: 1.85rem 4.44rem;
        .title {
            margin-bottom: 15px;
        }
    }
    .stikerIcon {
        position: absolute;
        top: -3.5rem;
        left: calc( 50% - 3.5rem);
        width: 7rem;
        height: 7rem;
        background: $lightBlueColor;
        background-repeat: no-repeat;
        background-position: center;
        border: 0.75rem solid #fff;
        border-radius: 50%;
    }
    &:last-child{
        margin-right: 0;
    }
    .cameraIcon{
        background-image: url('../images/camera.png');
    }
    .noteIcon{
        background-image: url('../images/note.png');
    }
    .cartIcon{
        background-image: url('../images/cart.png');
    }
}

.checkedIco {
    background: url('../images/checked.png');
}
.cupIco {
    background-image: url('../images/cup.png');
}
.bubbleIco {
    background-image: url('../images/bubble.png');
}

.featureCard {
    margin-top: 3.7rem;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .featureImage {
        float: left;
    }
    .featureDescription {
        width: 65.43%;
        float: right;
        .title {
            margin : 1.11rem 0;
        }
        button {
            margin-top: 1.5rem;
        }
    }
}
.featureCard.right {
    .featureImage {
        float: right;
    }
    .featureDescription {
        float: left;
    }
}

.projectsList {
    width: 100%;
    overflow: hidden;
    li {
        float: left;
        margin-right: 1.48rem;
        &:last-child {
            margin-right: 0;
        }

        .image {
            width: 17.78rem;
            border-radius: 5px;
            overflow: hidden;
            position: relative;

                img {
                    height: 100%;
                    
                    float: left;
                }
                &::after {
                    cursor: pointer;
                    content: '';
                    display: block;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: rgba(0,0,0,0.7);
                    background-image: url('../images/search.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 5px;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
                }
                &:hover::after {
                    opacity: 1;
                }
          }
        .projectName {
            font-size: 1.333rem;
            text-align: center;
            margin-top: 1.48rem;
        }
        .projectProp {
            text-align: center;
            line-height: 200%;
        }
    }
}

.testimonialsList {
    font-size: 1.333rem;
    padding: 0 1rem;
    text-align: center;
    li {
        width: 100%;
    }
    .text {
        margin-bottom: 2.22rem;
    }
    .autor {
        display: inline-block;
        padding: 2.22rem 0;
        margin: 0 auto;
        background: url('../images/commentline.png');
        background-repeat: no-repeat;
        background-position: top center;
    }
    .testiPages {
        display: inline-block;
        overflow: hidden;
        li {
            float: left;
            margin-right: 0.9rem;
            width: 0.9rem;
            height: 0.9rem;
            background: $lightGrey;
            border-radius: 50%;
            cursor: pointer;
            &.active {
                background-color: $lightBlueColor;
            } 
        }
    } 
}

.topFooter {
    min-height: 350px;
    background: $darkBlueColor;
    padding: 4.44rem 0;
    &:after {
        clear: both;
    }
    .footerItem {
        float: left;
        width: 210px;
        margin-right: 4.44rem;
        &:last-child {
            margin-right: 0;
        }

        .caption {
            margin-bottom: 2.22rem;
            text-transform: uppercase;
            font-size: 1.48rem;
            line-height: 200%;
            color: $lightColor;
        }
        p.text {
            color: $greyText;
            margin-bottom: 0.9rem;
        }
        .address, .mail, .phone, .tweet{
            padding-left: 2.96rem;
            line-height: 250%;
            color: $lightColor;
            background-position: left center;
            background-repeat: no-repeat;
        }
        .address {
            background-image: url('../images/address.png');
        }
        .mail {
            background-image: url('../images/mail.png');
        }
        .phone {
            background-image: url('../images/phone.png');
        }
        .tweet {
            background-image: url('../images/tweet.png');
            background-position: left 10%;
            margin-bottom: 2.22rem;
            .text {
                margin-bottom: 0;
            }
        }
        .text.time {
            color: $lightBlueColor;
        }
        .subscribeNewsFrm{
            display: block;
            input, button {
                height: 3rem;
                margin: 0;
                float: left;
                border: none;
                outline: none;
            }
            input {
                width: 80%;
                color: $lightColor;
                background: $darkestBlueColor;
                padding: 0 1rem;
                border-radius: 5px 0 0 5px;
            }
            button {
                width: 20%;
                margin: 0;
                border-radius: 0 5px 5px 0;
            }
        }
    }
}
.bottomFooter {
    background: $darkestBlueColor;
    color: $lightColor;
    .contentBlock {
        height: 90px;
    }
    .copy, .social {
        line-height: 90px;
    }
    .copy {
        display: inline-block;
        color: $greyText;
    }
    .social {
        float: right;
        li {
            float: left;
            margin-left: 0.9rem;
            a {
                position: relative;
                top: 0.5rem;
                display: inline-block;
                width: 2.22rem;
                height: 2.22rem;
                background: #fff;
                border-radius: 50%;
                &.fb, &.linked, &.twitter {
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.twitter {
                    background-color: #71b6d5;
                    background-image: url('../images/tweetterwhite.png');
                }

                &.fb, &.linked {
                    background-color: #2c3b42;
                }
                &.fb {
                    background-image: url('../images/fbwhite.png');
                }
                &.linked {
                    background-image: url('../images/inwhite.png');
                }
            }
        }
    }
}

